- if user_signed_in?
  .col-sm-4.col-md-3.proto-content
    .dropdown.drop_menu_location
      %btn.btn-default.dropdown-toggle(type="button" data-toggle="dropdown" id="dropdownMenu")
        Action
      %ul.dropdown-menu(aria-labelledby="dropdownMenu1")
        %li
          = link_to 'Delete', "/prototypes/#{prototype.id}", method: :delete
        %li
          = link_to 'Edit', "/prototypes/#{prototype.id}/edit"
    .thumbnail
      = link_to prototype_path(prototype.id) do
        = image_tag("#{prototype.images[0].image}")
        .caption
          %h3
            = prototype.title
          .proto-meta
            .proto-user
              = link_to "#{current_user.name}", "#{user_path(current_user)}"
            .proto-posted
              = create_time(prototype)
          %ul.proto-tag-list.list-inline
            = render prototype.tags
